@font-face {
  font-family: 'carter';
  src: url('../../assets/fonts/Carter_One/CarterOne-Regular.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'superior';
  src: url('../../assets/fonts/lt_superior/LTSuperior-Light.ttf');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #FFFFFF;
  font-family: Arial, sans-serif;
}

.start-container {
  width: 100vw;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-family: carter;
  font-size: 7vw;
  font-weight: 600;
  letter-spacing: -0.08vw;
  color: #004B8A;
}

.title-line {
  width: 30vw;
  height: 0.3vh;
  margin-top: 1.2vh;
  background-color: #61BEFF;
  border-radius: 1vw;
}

p {
  margin: 1.5vh 0 4vh 0;
  font-family: superior;
  font-size: 2vw;
  font-weight: 400;
  color: #004B8A;
  opacity: 0.65;
}

button {
  min-width: 220px;
  padding: 1.2vh 1.8vw;
  font-family: superior;
  background-color: #004B8A;
  color: #FFFFFF;
  border: 0.1vw solid #004B8A;
  border-radius: 1vw;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: #FFFFFF;
  color: #004B8A;
  scale: 1.1;
}
